.titulo{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.titulo-frases{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    justify-content: center;
}

.box-container{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,225px);
    grid-gap: 13px 5px;
    justify-content: space-between;
    background-color: #e4e7ec;
    margin: 10px;
    margin: 0 auto;
}

.frase-container{
    background-color: #fff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
    border-radius: 6px;
    height: 85%;
    padding: 15px;
    cursor: pointer;
    height: 250px;
}

.buttons-container{
    position: relative;
    top: -30px;
    left: 15px;
    /* background-color: aqua; */
}

.btn-copiar{
    width: 68px;
    margin-left: 20px;
}

.btn-editar{
    width: 68px;
    margin-left: 20px;
}

.textarea-container{
    width: 195px;
    height: 175px;
}

.titulo-esquerdo{
    width: 300px;
    height: 20px;
}

.titulo-direito{
    width: 300px;
    height: 20px;
    margin-top: 13px;
    padding-left: 192px;
}

.frase-input{
    width: 170px;
    height: 2.3em;
    border-radius: 4px;
    border: 1px solid rgb(170, 158, 158, 0.7);
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.15);
    padding: 5px 10px;
}