.titulo{
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
}

.box-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill,225px);
    grid-gap: 20px 5px;
    justify-content: space-between;
    background-color: #e4e7ec;
    margin: 10px;
    margin: 0 auto;
}

.frase-container{
    background-color: #fff;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
    border-radius: 10px;
    height: 85%;
    padding: 15px;
    cursor: pointer;
    height: 250px;
}

.buttons-container{
    position: relative;
    top: -35px;
    left: 10px;
    /* background-color: aqua; */
}

.textarea-container{
    width: 195px;
    height: 190px;
}