header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.transferArea-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    /* background-color: rgb(0, 255, 55); */
}

.transferArea-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    /* background-color: red; */
    
}

.transferArea-contact-container {
    display: flex;
    align-items: center;
    /* background-color: rgb(255, 238, 0); */
    height: 45px;
    width: 300px;
}

.transferArea-contact-link {
    display: flex;
    margin: 0 0 0 20px;
    font-size: 18px;
    /* background-color: rgb(111, 0, 255); */
}

.transferArea-icon{
    margin: 0 5px 0 0;
}